.env
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Large raw/intermediate datasets
data/twcs.csv
data/amazon_help_threads.csv
data/amazon_help_conversations.csv
data/amazon_help.csv
data/historical_response_pairs.csv
data/historical_pairs.csv
data/golden/historical_response_pairs.csv

data/golden/golden_set_100.csv
data/golden/golden_set_additional_100.csv
data/golden_set.csv
